bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.idea/
/.vs
AutoTrainingConsoleApp.sln.DotSettings.user
AutoTrainingConsoleApp.sln.DotSettings.user
AutoTrainingConsoleApp.sln.DotSettings.user.Corrupted.2025-01-22T17-33-32.Backup.Tmp
AutoTrainingConsoleApp.sln.DotSettings.user.Corrupted.2025-01-22T17-33-32.Description.Tmp
AutoTrainingConsoleApp.sln.DotSettings.user
*.user
